#--------------------------------------------
# vim
#--------------------------------------------
/nvim/vim/dein/*
!/nvim/vim/dein/.gitkeep


#--------------------------------------------
# zsh
#--------------------------------------------
