#--------------------------------------------
# vim
#--------------------------------------------
/nvim/dein/*
!/nvim/dein/.gitkeep


#--------------------------------------------
# zsh
#--------------------------------------------
