#--------------------------------------------
# vim
#--------------------------------------------
/.vim/dein/*
!/.vim/dein/.gitkeep


#--------------------------------------------
# zsh
#--------------------------------------------
